<meta name="github-username" content="jgc777">
<link rel="icon" type="image/x-icon" href="https://jgc.linkpc.net/favicon.ico">
<script src="https://jgc.linkpc.net/GitHubRepoAPI/simplified.js"></script>
<script type="text/javascript">
  window.onload = function() {
    var titleElement = document.getElementById('title');
    titleElement?.remove();
    /*
    var headerElement = document.getElementById('header');
    headerElement?.remove();
    window.onload = function() {document.getElementsByClassName('credits right')[0].innerHTML = 'Hosted on GitHub Pages - Theme by mattgraham';};
    */
  };
  document.addEventListener("DOMContentLoaded", function () {
    while (document.getElementById("repo-list").children.length = 0) sleep(2500);
    document.querySelectorAll("a").forEach(enlace => {
      enlace.setAttribute("target", "_blank"); // Open links in new tab
    });
  });
</script>
