<meta name="github-username" content="jgc777">
<link rel="icon" type="image/x-icon" href="https://jgc.corefn.xyz/favicon.ico">
<script src="https://jgc.corefn.xyz/GitHubRepoAPI/simplified.js"></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var titleElement = document.getElementById('title');
    titleElement?.remove();
    /*
    var headerElement = document.getElementById('header');
    headerElement?.remove();
    document.getElementsByClassName('credits right')?[0].innerHTML = 'Hosted on GitHub Pages - Theme by mattgraham';
    */
    function updateLinks() {
      document.querySelectorAll("a").forEach(link => {
        link.setAttribute("target", "_blank"); // Open links in new tab
      });
    }
    updateLinks();
    const observer = new MutationObserver(updateLinks);
    observer.observe(document.body, { childList: true, subtree: true });
  });
</script>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    td, tr {
        user-select: none;
        pointer-events: none;
        -webkit-user-drag: none;
        border: none;
        text-align: center;
    }
    @media (max-width: 768px) {
        tbody {
            display: block;
        }
        tr, td {
            display: block;
            width: 100%;
        }
    }
</style>
